body{
	background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
}
.jumbotron{
	    border-radius: 0;   
	    padding: 3rem 2rem;
        background-color: #e9ecef99;
}